### CLIENT
client/target
client/Cargo.lock

### SERVER

# Gradle Files #
################
.gradle
.m2

# Build output directies
server/app/target
server/app/bin
*/target
server/app/build
*/build

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
